<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registration Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!--<div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
      </div>-->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" value='' formControlName="firstName">
            <mat-error *ngIf="addressForm.controls.firstName.errors?.pattern">
              First name Alpha numeric without space<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" value='' formControlName="lastName">
            <mat-error *ngIf="addressForm.controls.lastName.errors?.pattern">
              Last name Alpha numeric without space<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="email" value='' formControlName="email">
             <mat-error *ngIf="addressForm.controls.email.errors?.pattern">
              Valid Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option *ngFor="let state of gender" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <!--<mat-error *ngIf="addressForm.controls['state'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>-->
          </mat-form-field>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Date" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #password maxlength="8" placeholder="Password" value='' type="Password" formControlName="password">
            <mat-error *ngIf="addressForm.controls.password.errors?.pattern">
              Password must be Min 8 character,1 uppercase,1 lowercase,1 numeric,1 special character <!--<strong>required</strong>-->
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #confirmpassword maxlength="8" placeholder="Confirmpassword" value='' type="password" formControlName="confirmpassword">
            <mat-error *ngIf="addressForm.controls.confirmpassword.errors?.pattern">
              Password and Confirm Password must be match. <!--<strong>required</strong>-->
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="addressForm.invalid" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>


<!--<h2>HTML Table</h2>

<table>
  <tr>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let item of data1,let i = index">
    <td>{{item.firstName}}</td>
    <td>{{item.lastName}}</td>
    <td>{{item.email}}</td>
    <td>{{item.gender}}</td>
    <td><button class="btn btn-danger" on-click="removeUser(item.id,i)">del</button></td>
  </tr>
</table>-->


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> firstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element,let i = index"> <button mat-button (click)="confirmDialog(element.id,i)" ><span class="material-icons">
delete_outline
</span></button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

